/* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.6;
    color: #333;
  }
  
  /* Header */
  header {
    background: #0066cc;
    color: white;
    padding: 2px;
    text-align: center;
  }
  
 
  /* Sections */
  main {
    padding: 41px;
  }
  
  section {
    margin-bottom: 5px ;
    background: white;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    box-shadow: 0 10px 5px rgba(0,0,0,0.1);
  }
  
  /* Button */
  button {
    background: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background: #218838;
  }
  
  /* Footer */
  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
  }
  